body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0033A0;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

.nav-brand {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-right: auto;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    height: 100%;
}

.nav-item {
    margin: 0;
    padding: 0;
}

.nav-item a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    padding: 0 20px; /* Relleno horizontal */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}

.nav-item a:hover {
    background-color: #011746;
}

/* Se eliminan los estilos adicionales para .contact-link */
.contact-link {
    border: none; /* Sin borde */
}

.contact-link:hover {
    background-color: #011746;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container p{
    text-align: center;
}
.proyectos {
    background-color: #f2f2f2;
    padding: 50px 0;
}

.proyectos h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

.proyectos h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    max-width: 100%;
    width: calc(50% - 20px);
}

.card img {
    width: 50%;
    height: auto;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.card-content h4 {
    color: #0033A0;
    font-size: 20px;
    margin-bottom: 10px;
}

.card-content p {
    line-height: 1.6;
    color: #666;
    text-align: left;
}

.testimonios blockquote {
    background: #fff;
    border-left: 5px solid #0033A0;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.testimonios blockquote:before {
    color: #0033A0;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.testimonios blockquote p {
    display: inline;
    font-size: 1.2em;
}

.testimonios footer {
    text-align: right;
    font-style: italic;
    color: #666;
    margin-top: 10px;
}

.testimonios p {
    text-align: center;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        width: 100%;
    }
    
    .card img {
        width: 100%;
        height: auto;
    }
    
    .card-content {
        width: 100%;
    }
}
